# Use this for pulling deps in individual packages.
@apex:registry="https://apptiouw2.jfrog.io/artifactory/api/npm/npm-hosted/"
@apptio:registry="https://apptiouw2.jfrog.io/artifactory/api/npm/npm-hosted/"
@apex-ui:registry="https://apptiouw2.jfrog.io/artifactory/api/npm/npm-hosted/"

# This is to be able to install @fortawesome/* pro packages.
# We keep our own mirror of the fontawesome packages because the official one has proven to have a frustratingly sad uptime SLA.
@fortawesome:registry="https://apptiouw2.jfrog.io/artifactory/api/npm/npm-hosted/"

always-auth=true

email=jkanugo@apptio.com
_auth=amthbnVnb0BhcHB0aW8uY29tOkFLQ3A4azdrM0dVVDlXSzdobmVkalFvdGFVWkhGZmlxang2ajFxaUtMb2dnRXRUYjIxQzQ5ZUc4TXJVeTR6aDFac2M4MWhGalQ=